.form {
    position: absolute;
    width: 350px;
    padding: 17px;
    backface-visibility: hidden;
}

.groupName {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;

    label {
        margin-bottom: 6px;
        font-size: 1rem;
    }
}

.groupNumber {

    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;

    label {
        margin-bottom: 6px;
        font-size: 1rem;
    }

    span {
        color: red;
        margin-top: 5px;
        font-size: 16px;
    }
}

.groupDateCVC {

    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.containerDate {

    width: 100%;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 6px;
        font-size: 1rem;
    }

    input {
        width: 100%;
    }

    span {
        color: red;
        margin-top: 10px;
        font-size: 16px;
    }
}

.containerDateInputs {

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.input {

    border: 1px solid var(--Light-grayish-violet);
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;

}

.inputColorRed {
    border: 1px solid var(--Red);
}

.input:hover {
    border: 1px solid var(--Very-dark-violet);
}


.btn {

    width: 100%;
    padding: 1rem;
    color: white;
    border-radius: 10px;
    background-color: var(--Very-dark-violet);
}

@media screen and (max-width: 1104px) {
    .form {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    
}