.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.containerLeft {
  width: 30%;
  height: 100%;
  background-image: url('/images/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerRight {
  width: 70%;
  perspective: 1000px;
}

.containerCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 180px;
}

.flipperRotation {
  transform: rotateY(180deg);
  /* se quiser uma animação na vertical,
	troque por rotateX(180deg)
	*/
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

@media screen and (max-width: 1104px) {
  .main {
    display: flex;
    flex-direction: column;
 
  }

  .containerLeft {
    width: 100%;
    height: 250px;
 
  }

  .containerRight {
    width: 100%;
    height: 100%;
   
  }

  .containerCards {
    width: 90%;
    margin: auto; 
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
  
  }
}