.group {
    position: absolute;
    width: 350px;
    height: 270px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        font-family: 'Space Grotesk';
        margin-top: 1rem;
        width: 100%;
        padding: 0.75rem;
        color: white;
        border-radius: 10px;
        font-size: 1.2rem;
        background-color: var(--Very-dark-violet);
    }
}



.containerIcon {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;

    img {

        background-color: transparent;

    }
}

.containerMensagem {
    display: flex;
    flex-direction: column;
    align-items: center;


    span {
        font-family: 'Space Grotesk';
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    p {
        color: var(--Dark-grayish-violet);
        font-family: 'Space Grotesk';
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) and (min-width: 375px) {
    .group {

        width: 100%;
        padding: 1rem;
    }

    .containerIcon {

        img {
            width: 80px;
            background-color: transparent;

        }
    }
}