.cardBack {

    width: 380px;
    height: 210px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-image: url("/images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.137);


}

.cardMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    label {
        text-align: right;
        width: 80%;
        padding: 5px;

    }

}

@media screen and (max-width: 768px) and (min-width: 375px) {
    .cardBack {

        width: 300px;
        height: 150px;
        margin-left: 40px;
    }

    .cardMain {
        label {
            font-size: 14px;
        }

    }
}